p {
    margin: 0;
}

input {
    font-family: 'Single Day';
}

#menu {
    height: 480px;
    width: 720px;
    border-radius: 30px;
    position: fixed;
}

#mainMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    gap: 20px;
}

.mainMenu button {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Single Day';
    font-size: 42px;
    font-weight: 600;
    border-radius: 12px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.mainMenu button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.mainMenuControls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 40px;
}

#mainMenuControlsBox {
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.mainMenuControlsBox p {
    margin: 5px;
    font-size: 28px;
    font-weight: 600;
}

#optionsMenu {
    display: flex;
    width: 100%;
    height: 100%;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    gap: 20px;
    width: 35%;
}

#options button {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Single Day';
    font-size: 42px;
    font-weight: 600;
    border-radius: 12px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#options button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

#levelMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.levelSelection {
    display: flex;
}

.levelSelection p {
    width: 150px;
    text-align: center;
}

.levelSelection button {
    font-family: 'Single Day';
    cursor: pointer;
}

.startBTN {
    cursor: pointer;
    margin-top: 100px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 12px;
}

.optionsContainer {
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
}

#video {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#video button {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Single Day';
    font-size: 27px;
    font-weight: 400;
    border-radius: 12px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#video button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.active {
    background-color: rgb(90, 89, 89) !important;
}

#audio {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);

}

#audio h1 {
    font-family: 'Single Day';
    font-size: 27px;
    font-weight: 400;
    margin: 0;
}

#audio p {
    font-family: 'Single Day';
    font-size: 22px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    border-radius: 12px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #eb903c;
    cursor: pointer;
    border-radius: 100px;
}

#controls {
    padding: 20px;
    border-radius: 12px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);

}

#controls p {
    font-family: 'Single Day';
    font-size: 27px;
    font-weight: 400;
    margin-top: 5px;
}

#controls input {
    border-radius: 12px;
    height: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Single Day';
    font-size: 23px;
    cursor: pointer;
    caret-color: transparent;
}

#controls input:placeholder-shown {
    font-family: 'Single Day';
    font-size: 23px;
}