
body {
    margin: 0;
    display: flex;
    background-color: black;
    font-family: 'Single Day';
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

canvas {
    position: fixed;
    border-radius: 30px;
    background-color: black;
}

.displayNone {
    display: none !important;
}

#ingameOverlay {
    position: fixed;
    right: 20px;
    top: 10px;
}

#ingameOverlay img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 6px;
}

#ingameOverlay img:hover{
    background-color: rgba(0, 0, 0, 0.418);
}